/* Styles de base pour la page */
html {
	scroll-behavior: smooth;
	}
	
	body {
	font-family: 'JetBrains Mono', monospace;
	background-color: #222222;
	font-size: 14px; /* Modification de la taille de la police */
	line-height: 1.5;
	margin: 0;
	padding: 0;
	}
	
	/* Styles pour l'en-tête */
	header {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	}
	
	header h1 {
	font-size: 32px;
	margin-bottom: 10px;
	}
	
	nav {
	display: flex;
	justify-content: space-between;
	}
	
	nav ul {
	display: flex;
	justify-content: center;
	}
	
	nav li {
	margin: 0 20px;
	}
	
	nav li:first-child {
	margin-left: 0;
	}
	
	nav a {
	text-decoration: none;
	color: #333;
	font-weight: 700;
	transition: color 0.2s ease-in-out;
	}
	
	nav a:hover {
	color: #ff7f50;
	}
	
	/* Styles pour la section hero */
	#hero {
	background-image: url(hero-bg.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 100px 0;
	}
	
	#hero h2 {
	font-size: 48px;
	margin-bottom: 20px;
	}
	
	#hero p {
	font-size: 14px; /* Modification de la taille de la police */
	margin-bottom: 30px;
	}
	
	#hero button {
	background-color: #ff7f50;
	color: #fff;
	font-size: 16px; /* Modification de la taille de la police */
	font-weight: 700;
	border: none;
	padding: 10px 30px;
	border-radius: 5px;
	transition: background-color 0.2s ease-in-out;
	}
	
	#hero button:hover {
	background-color: #ff6347;
	}
	
	/* Styles pour la section fonctionnalités */
	#features {
	background-color: #f7f7f7;
	padding: 100px 0;
	}
	
	#features h2 {
	font-size: 28px; /* Modification de la taille de la police */
	margin-bottom: 50px;
	text-align: center;
	}
	
	.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	}
	
	.grid div {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	text-align: center;
	transition: box-shadow 0.2s ease-in-out;
	}
	
	.grid div:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	}
	
	.grid img {
	width: 80px;
	margin-bottom: 20px;
	}
	
	.grid h3 {
	font-size: 22px; /* Modification de la taille de la police */
	margin-bottom: 10px;
	}
	
	.grid p {
	font-size: 14px; /* Modification de la taille de la police */
	}
	
	/* Styles pour la section comment ça marche */
	#how-it-works {
	padding: 100px 0;
	}
	
	#how-it-works h2 {
	font-size: 28px; /* Modification de la taille de la police */
	margin-bottom: 50px;
	text-align: center;
	}
	
	#how-it-works .grid {
	display: grid;
	}
	
	.centrer {
	text-align: center;
	}
	.gauche {
		text-align: left;
		}

	.blanc {
	color: #fff;
	}

	.droite {
	text-align: right;
	}
	